/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/
.pad-2{
    padding-top: 30px;
}
#bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.z-index-2 {
    z-index: 2;
}

.icon-size{
    font-size: 30px;
}

.list1{
    list-style: none;
    text-align: center;
}

.big-icon{
    text-align: center;
    font-size: 80px;
}